<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css"  media="all">
    <script src="https://www.layuicdn.com/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">查看信息</li>
        <li>修改信息</li>
    </ul>
    <div class="layui-tab-content">

        <!--查看-->

        <div class="layui-tab-item layui-show">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>我的信息</legend>
            </fieldset>

            <div class="layui-card">
                <div class="layui-card-header">角色：<label th:text="${role}"> 管理员</label></div>
                <div class="layui-card-body">
                    <div class="layui-field-box" style="margin-top: 20px;">
                        <div class="layui-row">
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                账号:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${username}">
                                1001
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                姓名:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${name}">
                                姚懿
                            </div>
                        </div>
                        <div class="layui-row" style="margin-top: 20px;">
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                性别:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${gender}" >
                                男
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                出生日期:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${birth}" >
                                1997
                            </div>
                        </div>
                        <div class="layui-row" style="margin-top: 20px;">
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                电话:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${phone}">
                                15032506306
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                邮箱:
                            </div>
                            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:text="${email}">
                                1458510486@qq.com
                            </div>
                        </div>
                    </div>

                </div>
            </div>







        </div>


        <!--编辑-->
        <div class="layui-tab-item">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>修改信息</legend>
            </fieldset>

            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="tel" name="phone" lay-verify="tel" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="email" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">出生日期：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="birth" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">性别：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="gender" value="男" title="男" checked="">
                        <input type="radio" name="gender" value="女" title="女">
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitinfo">立即提交</button>
                    </div>
                </div>
            </form>
            <script>
                layui.use(['form', 'layedit', 'laydate'], function(){
                    var form = layui.form
                        ,layer = layui.layer
                        ,layedit = layui.layedit
                        ,laydate = layui.laydate;
                    var $=layui.jquery;

                    //日期
                    laydate.render({
                        elem: '#date'
                    });
                    laydate.render({
                        elem: '#date1'
                    });

                    //创建一个编辑器
                    var editIndex = layedit.build('LAY_demo_editor');

                    //自定义验证规则
                    form.verify({
                        title: function(value){
                            if(value.length < 1){
                                return '姓名至少得1个字符啊';
                            }
                        }
                        ,pass: [
                            /^[\S]{6,12}$/
                            ,'密码必须6到12位，且不能出现空格'
                        ]
                        ,tel:[
                            /(^$)|^1\d{10}$/
                            ,'请输入正确手机号'

                        ]
                        ,email: [
                            /(^$)|^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
                                ,'邮箱格式不正确'
                        ]
                        ,content: function(value){
                            layedit.sync(editIndex);
                        }
                    });

                    //监听提交
                    form.on('submit(submitinfo)', function(data){
                        console.log(data);
                        var field=data.field;
                        $.ajax({
                            type:"post",
                            url:"/submitinfo",
                            data:field,
                            dataType:"json",
                            ansyc:false,
                            success:function (response) {
                                if(response.status=="success"){
                                    layer.msg("更新成功！一秒后自动跳转到信息页...");
                                    setTimeout(function(){
                                        location.href=location;
                                    },1000);
                                }else {
                                    layer.msg("更新失败！", {icon: 5});
                                }
                            }

                        });
                        return false;
                    });

                    //表单赋值
                    layui.$('#LAY-component-form-setval').on('click', function(){
                        form.val('example', {
                            "name": "[[${name}]]" // "name": "value"
                            ,"phone": [[${phone}]]
                            ,"email": "[[${email}]]"
                            ,"birth": [[${birth}]]
                            ,"gender": "[[${gender}]]"
                        });
                    });

                    //表单取值
                    layui.$('#LAY-component-form-getval').on('click', function(){
                        var data = form.val('example');
                        alert(JSON.stringify(data));
                    });

                });
            </script>

        </div>


    </div>
</div>


<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#test1'
        });

        //国际版
        laydate.render({
            elem: '#test1-1'
            ,lang: 'en'
        });

        //年选择器
        laydate.render({
            elem: '#test2'
            ,type: 'year'
        });

        //年月选择器
        laydate.render({
            elem: '#test3'
            ,type: 'month'
        });

        //时间选择器
        laydate.render({
            elem: '#test4'
            ,type: 'time'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
        });

        //日期范围
        laydate.render({
            elem: '#test6'
            ,range: true
        });

        //年范围
        laydate.render({
            elem: '#test7'
            ,type: 'year'
            ,range: true
        });

        //年月范围
        laydate.render({
            elem: '#test8'
            ,type: 'month'
            ,range: true
        });

        //时间范围
        laydate.render({
            elem: '#test9'
            ,type: 'time'
            ,range: true
        });

        //日期时间范围
        laydate.render({
            elem: '#test10'
            ,type: 'datetime'
            ,range: true
        });

        //自定义格式
        laydate.render({
            elem: '#test11'
            ,format: 'yyyy年MM月dd日'
        });
        laydate.render({
            elem: '#test12'
            ,format: 'dd/MM/yyyy'
        });
        laydate.render({
            elem: '#test13'
            ,format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#test14'
            ,type: 'time'
            ,format: 'H点m分'
        });
        laydate.render({
            elem: '#test15'
            ,type: 'month'
            ,range: '~'
            ,format: 'yyyy-MM'
        });
        laydate.render({
            elem: '#test16'
            ,type: 'datetime'
            ,range: '到'
            ,format: 'yyyy年M月d日H时m分s秒'
        });

        //开启公历节日
        laydate.render({
            elem: '#test17'
            ,calendar: true
        });

        //自定义重要日
        laydate.render({
            elem: '#test18'
            ,mark: {
                '0-10-14': '生日'
                ,'0-12-31': '跨年' //每年的日期
                ,'0-0-10': '工资' //每月某天
                ,'0-0-15': '月中'
                ,'2017-8-15': '' //如果为空字符，则默认显示数字+徽章
                ,'2099-10-14': '呵呵'
            }
            ,done: function(value, date){
                if(date.year === 2017 && date.month === 8 && date.date === 15){ //点击2017年8月15日，弹出提示语
                    layer.msg('这一天是：中国人民抗日战争胜利72周年');
                }
            }
        });

        //限定可选日期
        var ins22 = laydate.render({
            elem: '#test-limit1'
            ,min: '2016-10-14'
            ,max: '2080-10-14'
            ,ready: function(){
                ins22.hint('日期可选值设定在 <br> 2016-10-14 到 2080-10-14');
            }
        });

        //前后若干天可选，这里以7天为例
        laydate.render({
            elem: '#test-limit2'
            ,min: -7
            ,max: 7
        });

        //限定可选时间
        laydate.render({
            elem: '#test-limit3'
            ,type: 'time'
            ,min: '09:30:00'
            ,max: '17:30:00'
            ,btns: ['clear', 'confirm']
        });

        //同时绑定多个
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });

        //初始赋值
        laydate.render({
            elem: '#test19'
            ,value: '1989-10-14'
            ,isInitValue: true
        });

        //选中后的回调
        laydate.render({
            elem: '#test20'
            ,done: function(value, date){
                layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
            }
        });

        //日期切换的回调
        laydate.render({
            elem: '#test21'
            ,change: function(value, date){
                layer.msg('你选择的日期是：' + value + '<br><br>获得的对象是' + JSON.stringify(date));
            }
        });
        //不出现底部栏
        laydate.render({
            elem: '#test22'
            ,showBottom: false
        });

        //只出现确定按钮
        laydate.render({
            elem: '#test23'
            ,btns: ['confirm']
        });

        //自定义事件
        laydate.render({
            elem: '#test24'
            ,trigger: 'mousedown'
        });

        //点我触发
        laydate.render({
            elem: '#test25'
            ,eventElem: '#test25-1'
            ,trigger: 'click'
        });

        //双击我触发
        lay('#test26-1').on('dblclick', function(){
            laydate.render({
                elem: '#test26'
                ,show: true
                ,closeStop: '#test26-1'
            });
        });

        //日期只读
        laydate.render({
            elem: '#test27'
            ,trigger: 'click'
        });

        //非input元素
        laydate.render({
            elem: '#test28'
        });

        //墨绿主题
        laydate.render({
            elem: '#test29'
            ,theme: 'molv'
        });

        //自定义颜色
        laydate.render({
            elem: '#test30'
            ,theme: '#393D49'
        });

        //格子主题
        laydate.render({
            elem: '#test31'
            ,theme: 'grid'
        });


        //直接嵌套显示
        laydate.render({
            elem: '#test-n1'
            ,position: 'static'
        });
        laydate.render({
            elem: '#test-n2'
            ,position: 'static'
            ,lang: 'en'
        });
        laydate.render({
            elem: '#test-n3'
            ,type: 'month'
            ,position: 'static'
        });
        laydate.render({
            elem: '#test-n4'
            ,type: 'time'
            ,position: 'static'
        });
    });
</script>
</body>
</html>